<!-- <div class="container">
<div class="row">
  <div class="col-sm-12">
    <h3>Hi Jahnavi</h3>
  <hr /> -->
    <!-- <app-users></app-users> -->
    <!-- <app-userspc></app-userspc> -->
    <!-- <app-adduser></app-adduser> 
    <app-userpc
       *ngFor="let user of users; let i = index"
       [userandstatus]="user"
       [id]=i></app-userpc>

  </div>
</div>
</div> -->


<!-- Angular Routing -->

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav flex-column" nav-pills>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]= "{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users"
           routerLinkActive="active">Users</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories" 
          routerLinkActive="active">Categories</a>
        </li>

      </ul>
    </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

</div>